.randomTitle {
  font-size: 34px;
  line-height: 44px;
}
.cardsThr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popularOffers {
  padding-top: 37px;
}
.cardThr {
  display: flex;
  min-width: 255px;
  max-width: 255px;
  height: 260px;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  align-self: stretch;
  border-radius: 30px;
  border-top: 2.5px solid hsla(0, 0%, 100%, 0.4);
  border-bottom: 2.5px solid hsla(0, 0%, 100%, 0.4);
  background: linear-gradient(
    161deg,
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0.05) 101.7%
  );
  margin-bottom: 29px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.relative {
  padding: 14px 32px 0;
  position: relative;
}
.cardThr h3,
.cardThr p {
  color: #fff;
  text-align: center;
  font-style: normal;
  line-height: 20px;
}
.cardThr h3 {
  font-size: 20px;
  font-weight: 500;
}
.cardThr p {
  font-size: 14px;
  font-weight: 400;
}
.btnCrd {
  margin-top: auto;
  font-size: 14px;
  width: 100%;
  border-radius: 0 0 30px 30px;
  background: #ff8f1f;
  box-shadow: 0 -5px 30px 0 rgba(255, 143, 31, 0.3);
}
.btnBlick::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    hsla(0, 0%, 100%, 0) 30%,
    hsla(0, 0%, 100%, 0.8),
    hsla(0, 0%, 100%, 0) 70%
  );
  top: 0;
  left: -100px;
  animation: shine 2s linear infinite;
}
/* .Gold {
  background-image: url(/newimages/popular-christmas.png) !important;
  border-top: none;
  border-bottom: none;
} */
.Gold {
  background: #0f0926;
  border: 2px solid #fcb627;
}
.Gold .btnCrd {
  background: #fcb627;
  box-shadow: 0 -5px 30px #ff121241;
}
/* Ключевые кадры для анимации блика */
@keyframes shine {
  0% {
    left: -100px; /* Начальная позиция блика (левая сторона кнопки) */
  }
  20% {
    left: 100%; /* Позиция блика в конце (правая сторона кнопки) */
  }
  100% {
    left: 100%; /* Завершение анимации */
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .popularOffers {
    padding-top: 0;
  }
  .randomTitle {
    padding-bottom: 45px;
  }
  .mobMt16 {
    margin-top: 1.5rem;
  }
  .mobSl .cardThr {
    min-width: auto;
    height: auto;
  }
  .pm10 {
    padding: 10px 10px 0;
  }
  .imgp {
    margin-left: 10px;
    margin-right: 10px;
  }
  .mobSl .cardThr p {
    max-height: 60px;
    min-height: 60px;

    overflow: hidden;
  }
  .mobSl .cardThr h3 {
    display: none;
  }
  .mobSl .cardThr p {
    max-height: 60px;
    overflow: hidden;
  }
  .btnCrd {
    padding: 10px;
  }
  
}
